/*
see marking requirements
robots
crawler
banner links not working when screen resized. To be fixed in phase 2


*/

body {
  background-color: white;
  font-family: 'oswald';

}

h1:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 4px;
  margin: 0.75em auto 0 auto;
  position: relative;
  width: 10em;
}

.navbar {
  /*for opague navbar over landing page, currently disabled*/
  /*position: absolute;*/
  /*width: 100%;*/

  /*for fixed top navbar*/
  margin-bottom: 0;
}

.navbar-default {
  /*for opague navbar over landing page, currently disabled*/
  /*background : transparent;
  background-color: rgba(192,192,192,0.75);
  border: none;*/

  /*for fixed top navbar*/
  background-color: rgba(255,255,255,1);

}

.navbar-brand {
  font: 'oswald';

}

.navbar-header a {
  color: white;
}

.nav.navbar-nav.navbar-right li a {
  color: black;
}

.test {
  color: blue;
}

.section {
  padding-top: 800px;
  padding-bottom: 80px;
  clear: both;
}

.mainheader-container {
  background-color: red;
  background-image: url("../images/mainheader.jpg");
  background-size: cover;
  /*background-position: center;*/
  background-position: right;
  width: 100%;
  height: 400px;
  height: 100vh;
}

.mainheader-position h1 {
  margin-top: 0 ;

}
.mainheader-position {
  position: relative;
  top: 25vh;
}

.mainheader-border {
  /*width: 50%;*/
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: medium;
  left: 50%;

}

.mainheader{
  text-align: center;
  color: white;

}

.mainheader-name {
  font-size: 130px;
}

.mainheader-title {
  font-size: 25px;
  font-weight: 300;

}

.mainheader-other {

}

.aboutme {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 1px;
}

.aboutme-container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;

}

.aboutme-wrapper {
  clear: both;
  padding :60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.aboutme-img {
  width: 100%;
  height : auto;
  /*height: 100vh;*/
}

.left {
  float: left;
  width: 50%;
}


.right {
  float: right;
  width: 50%;
  padding : 40px;
  font-weight: 300;
}

.aboutme-heading {
  font-size: 50px;

}

.contactme-wrapper {
  text-align: center;

}

.row.parallax {
  background-color: black;
}


.top-pad {
  margin-top: 30px;
  margin-bottom: 30px;
}

.test-align {
  width: 100%;
}


.dynamicTile .col-sm-2.col-xs-4 {
       padding: 5px;
   }

   .bigicon {
       font-size: 67px;
       color: white;
       margin-top: 20px;
       margin-bottom: 10px;
   }

   .icontext {
       color: white;
       font-size: 27px;
   }

   .bigicondark {
       font-size: 67px;
       color: black;
       margin-top: 20px;
       margin-bottom: 10px;
   }

   .icontextdark {
       color: black;
       font-size: 27px;
   }

   .dynamicTile .col-sm-4.col-xs-8 {
       padding: 5px;
   }

   #tile1 {
       background: #ffffff;
   }

   #tile2 {
       background: #3B579D;
   }

   #tile3 {
       background: #153178;
   }

   #tile4 {
       background: #EACF46;
   }

   #tile5 {
       background: #EACF46;
   }

   #tile6 {
       background: #FFED94;
   }

   #tile7 {
       background: white;
   }

   #tile8 {
       background: #03133C;
   }

   #tile9 {
       background: #EACF46;
   }

   #tile10 {
       background: #EACF46;
   }

   .tilecaption {
       position: relative;
       top: 50%;
       transform: translateY(-50%);
       -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
       margin: 0!important;
       text-align: center;
       color: white;
       font-family: Segoe UI;
       font-weight: lighter;
   }

  .small-font-heading {
      font-size: 15px;
      text-align: right;
      list-style-type: none;
   }
   .small-font {
      font-size: 11px;
      text-align: right;
      list-style-type: none;
   }

   .quote-source {
     font-size: 13px;
     font-style: italic;
   }

   .projects {
      padding-top: 5px;
      padding-bottom: 60px;
   }

   .project-nopad{
     padding: 0px;
   }

.fa:hover, .fa:visited, .fa:link , .fa:active {
  text-decoration: none;

}

.fa-custom {
  color: #000000;
}

/* PARLLAX*/
.parallax-one {
    /* The image used */
    background-image: url("../images/parallax-one.png");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.6;
}

.parallax-two {
    /* The image used */
    background-image: url("../images/parallax-three.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment:fixed;;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.6;

}

/* hover effects !*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
